@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full border-2 border-gray-900;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
